/* the props */
@import 'open-props/style';

/* optional imports that use the props */
@import 'open-props/normalize';
@import 'open-props/buttons';

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--size-content-1);
  padding-left: var(--size-content-1);
}

main {
  margin-top: var(--size-9);
  margin-bottom: var(--size-9);
}

.card {
  padding: var(--size-5);
  border-radius: var(--radius-conditional-3);
  background-color: var(--surface-2);
  box-shadow: var(--shadow-3);
}

.card h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

section {
  display: flex;
  flex-direction: column;
  gap: var(--size-5);
}
